################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Auto-Manager.slnx/FileContentIndex/02200e6b-a614-4286-8ecd-cd0de90f3121.vsidx
